<div class="mt-5 pt-5 pr-n3 ">
  <% if flash[:notice] %>
    <p class="notice" > <%= flash[:notice] %> </p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"> <%= flash[:alert] %> </p>
  <% end %>
  <h5>List of Bookmarks</h5>
  <% @bookmarks.each do |bookmark| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= "@" << bookmark.thought.author.username %>
          <%= bookmark.thought.author.full_name %>
        </h5>
        <p class="card-text">
          <%= bookmark.thought.text%><br>
        </p>
      </div>
    </div>
  <% end %>
</div>
