<% @thoughts.each do |thought| %>
  <div class="row usr-row">
    <div class="image col-3">
      <%= image_tag(user_or_author_img(thought), size: 64) %>
    </div>
    <div class="card thoughts col-9">
      <div class="card-body">
        <h5 class="card-title">
          <%= user_or_author_details thought %>
        </h5>
        <p class="card-text">
          <%= thought.text %><br>
          <%= bkmark_btn thought %>
          <%= unbkmark_btn thought %>
        </p>
      </div>
    </div>
  </div>
<% end %>
