<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p><%= image_tag @user.photo.url(:thumb) %></p>

<p><%= image_tag @user.cover_image.url(:medium) %></p>

<%= link_to 'Back', users_path %>
