<div class="row mt-5 pt-5 pr-n3 ">
<div class="col-9">
   <header class= "second-header d-flex navbar justify-content-between pt-3 mt-3 pl-0">
      <ul class="d-flex align-items-center pl-0">
        <li class="pr-3 pl-n2">
          <%=link_to "THOUGHTS", thoughts_path %>
        </li>
        <li class="pr-3">
          <%= link_to "PHOTOS", root_path, method: :delete %>
        </li>
        <li class="pr-3"><%= link_to "VIDEOS",root_path %></li>
      </ul>
      <div class="right-section">
      </div>
    </header>
 <h5>Trends for you</h5>
  <% @trends.each do |trend| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= trend[:channel] %>
        </h5>
        <p class="card-text">
          <%= link_to trend[:title], trend[:link] %>
          <br>
        </p>
      </div>
    </div>
  <% end %>
</div>
  <div class="col-3">
    <ul class="who-to-follow list-group pr-0 pt-3">
      <li class="pt-3 pb-3 list-group-item text-uppercase">Who to follow</li>
      <% @who_to_follow.each do |user| %>
        <%= link_to user_details(user), user_path(usr_id(user)), class: "pt-3 pb-3 list-group-item font-weight-bold" %>
      <% end %>
    </ul>
  </div>
</div>
