<div class="row mt-4 pt-5 pr-n3 ">
  <div class="col-9">
    <header class= "second-header d-flex navbar justify-content-between pt-3 mt-3 pl-0">
      <ul class="d-flex align-items-center pl-0">
        <li class="pr-3 pl-n2">
          <%=link_to "THOUGHTS", thoughts_path %>
        </li>
        <li class="pr-3">
          <%= link_to "PHOTOS", root_path, method: :delete %>
        </li>
        <li class="pr-3"><%= link_to "VIDEOS",root_path %></li>
      </ul>
      <div class="right-section">
      </div>
    </header>
    <%= form_for(@thought) do |form| %>
      <%= form.label :share_an_idea %>
      <%= form.text_field :text, id: :post_content, class: 'form-control', placeholder: 'Add New Post' %>
      <% if @thought.errors.full_messages.any? %>
        <p class="errors">
          <%= "Post could not be saved. #{@thought.errors.full_messages.join('. ')}" %>
        </p>
      <% end %>
      <br>
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <br>
      <br>
    <% end %>
    <% @thoughts.each do |thought| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= "@" << thought.author.username %>
            <%= thought.author.full_name %>
          </h5>
          <p class="card-text">
            <%= thought.text%><br/>
            <% if not_bookmarked(thought) %>
              <%= button_to "+/bookmark", user_thought_path(current_user.id, thought.id), method: :patch, class: 'btn btn-secondary', type: "submit" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3">
    <ul class="who-to-follow list-group pr-0 pt-3">
      <li class="pt-3 pb-3 list-group-item text-uppercase">Who to follow</li>
      <% @who_to_follow.each do |user| %>
        <%= link_to "@#{user.username} #{user.full_name}", user_path(user.id), class: "pt-3 pb-3 list-group-item font-weight-bold" %>
      <% end %>
    </ul>
  </div>
</div>
