<!DOCTYPE html>
<html>
  <head>
    <title>Thoughtstar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity: "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin: "anonymous" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='row'>
    <div class="col-md-2 bd-sidebar dark_blue">
      <ul class="text-left list-group pr-0 h5">
        <%= link_to "HOME PAGE", root_path, class: "pt-3 pb-3 list-group-item item_color" %>
        <%= logged_in_usr %>
        <%= link_to "DISCOVER", trends_path, class: "pt-3 pb-3 list-group-item item_color" %>
      </ul>
    </div>
    <div class="col-md-10 row d-flex">
      <header class="page-header d-flex navbar justify-content-between fixed-top">
        <div class="logo-left logo pl-4 h5"><%= link_to '*Thoughtstar', root_path %></div>
        <div class="right-section h5">
          <ul class="d-flex">
            <%= sign_in_and_sign_out %>
          </ul>
        </div>
      </header>
      <main class="col-md-12 pr-n5 mr-n5">
        <%= yield %>
      </main>
      <div>
      </body>
    </html>
